.flashy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 2px solid #222830;
    border-top: white 2 solid;
    outline: black 1px solid;
    line-height: 2;
    padding: 0 15px;
    font-size: 1rem;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: blue;
    background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 0.2)), color-stop(30%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    -webkit-box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    height: 40px;
    width: 40px;
    margin: auto;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    z-index: 300;
}

.start {
    float: right;
    margin: -5vh 0 0 -5vh;
    width: 100px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.bar_adjust {
    margin-left: 7vw;
    margin-top: -1vh;
}

#btnHit,
#btnStay {
    margin-top: -87vh;
    margin-right: -120%;
    margin-bottom: 100vh;
    border-radius: 50%;
    font-size: clamp(.7rem, 1vw, .9rem);

    &:hover {
        background-color: yellow;
        color: black;
        cursor: pointer;
        border-top: rgb(0, 0, 0) 2 solid;
    }

    &:active {
        background-color: yellowgreen;
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    }
}

#btnStay {
    background-color: red;
}

.btnPlay {
    background-color: blue;
}

#btnPlay {
    visibility: hidden;
    transition: all .1ms ease-in;
    width: fit-content;

    &:hover {
        background-color: yellowgreen;
        color: black;
    }

    &:active {
        background-color: orange;
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    }

    &:focus {
        outline: none;
    }
}

.hitstay {
    width: 45%;
    visibility: hidden;
}