.label__choice {
    align-items: center;

    &:hover {
        outline-offset: 2px;
        outline: 2px dashed gold;
        cursor: pointer;    
    }
}
.center {
    margin-left: 2vh;
}
#chosenOne {
    visibility: hidden;
    position: absolute;
    z-index: -1;   
   }   
#deckcount { 
    display: flex;
    visibility: hidden;
    text-align: center;
    margin: 0px auto 0px;       
    height: auto;
    width: 50%;
    align-content: center;
    justify-content: center;
    background: rgb(224,195,101);
    background: radial-gradient(circle at 50% 7px, 
        rgb(224,195,101) 2.6%,
        rgba(224,195,101,1) 0%, 
        rgba(214,210,173,1) 47%, 
        rgb(172, 124, 41) 98%);
    border: black double 5px;
    border-radius: 10px;
    position: absolute;
    z-index: 300;
    font-family: 'Smokum','Veranda', sans-serif;
    font-size: 20px;
    font-weight: 700; 
    transform: translate(0.5%,135%);
}
.scoreBox {
    text-align: center;
    height: 52px;
    width: 50px;
    background: $primary-color;
    border: black double 5px;
    border-radius: 10px;
    margin-top: 20vh;    
    z-index: 300;
    color: black;
    font-family: 'Smokum','Veranda', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
#ccd
{
    display: flex;
    flex-basis: min-content;
    flex-direction: row;
    flex-flow: row wrap;
    position: absolute;
    margin-top: -125vh;
    margin-bottom: 7vh;
    width: 75%;
}
#ucd 
{
    display: flex;
    flex-basis: min-content;
    flex-direction: row;
    flex-flow: row wrap;
    position: absolute;
    margin-top: -98vh;
    margin-bottom: 7vh;
    width: 75%;
}
.card-size img {
    max-width: 60px;
    height: 90px;
    box-shadow: 4px 4px 5px rgb(0, 0, 0);   
}
.position {
    margin-top: -109vh;
    height: auto;
    transform: translate(82vw,18vh);
}