.bouncer {
    width: 100%;
    height: 93.7vh;
    background-color: #222830;
    visibility: visible;
    position: relative;
}

.curator {
    width: 100%;
    height: 93.7vh;
    background-color: transparent;
    z-index: -1;
    visibility: visible;
}