@include media-xsw {
    .flashy {
        height: 50px;
        width: 50px;
    }

    .bar_adjust {
        margin-left: 6.5vw;
        margin-top: 3vh;
    }
}

@include media-sm {

    .card-size img {
        width: min(100px, 13vw, 300px);
    }

    .label {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    .title {
        bottom: 3vh;
    }

    .deckcount {
        font-weight: 700;
        font-size: clamp(18px, 2vh, 35px);
    }

    #ccd {
        margin-top: -137vh;
        margin-left: 14%;
    }

    .feedbackbar {
        margin-top: 2vh;
        font-size: clamp(15px, 2vw, 46px);
    }

    #games1,
    #lose1,
    #tie1,
    #win1 {
        padding: 3px;
        background: radial-gradient(circle at 50% 7px, black 3.6%, #e0c365 0%, #d6d2ad 40%, #ac7c29 98%);
        width: 60px;
        height: 100%;
        font-size: 20px;
        font-weight: 800;
    }

    .bar_adjust {
        margin-left: 6.5vw;
    }

    input {
        font-size: 1rem;
    }

    .label {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: auto;
    }

    .start {
        width: 150px;
        margin: -5vh 17vh 0 0;
    }

    #btnHit,
    #btnStay {
        width: 63px;
        height: 63px;
        font-size: 1rem;
    }

    #btnPlay {
        margin-right: -15.5vh;
        margin-left: 15.5vh;
    }

    .position {
        -webkit-transform: translate(77vw, 22vh);
        transform: translate(77vw, 22vh);
    }
}

@include media-mdi {
    section {
        margin-top: 15vh;
    }

    .deckcount {
        font-weight: 700;
        font-size: clamp(18px, 3vh, 35px);
    }

    .hitstay {
        margin-top: 15vh;
    }

    .scoreBox {
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    #ccd {
        margin-top: -130vh;
        margin-left: 0%;
    }

    .bar_adjust {
        margin-left: 0;
        margin-top: 9vh;
    }
}

@include media-md {

    .start {
        width: 150px;
        margin: -5vh 17vh 0 0;
    }

    .position {
        margin-right: -20%;
    }
}

@include media-nest {
    .title {
        bottom: 1vh;
    }

    #btnPlay {
        margin-left: 30vh;
        width: 150px;
    }

    #ccd,
    #ucd {
        margin: -130vh 0 0;
        width: 75%;
    }

    .position {
        -webkit-transform: translate(87.5vw, 10vh);
        transform: translate(87.5vw, 10vh);
    }

    #lose1,
    #games1,
    #win1,
    #tie1 {
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }

    #ccd {
        margin-top: -133vh;
    }

    #ucd {
        margin-top: -103vh;
    }
}