html {
  overflow: hidden;
  overflow-y: auto;
}

body {
  background-color: #af6f1b;
  background-image: url("../asset/BJboard.png");
  background-size: cover;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  height: 100vh;
  top: 0;
}
body button {
  height: 30px;
  width: 50px;
  border-radius: 12px;
  border: 1px solid black;
  font-weight: bold;
  font-size: 0.9rem;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000;
  background-color: #e65e5e;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px white, inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  margin: auto;
  text-align: center;
  justify-content: center;
  z-index: 60;
}
body button:hover {
  background-color: rgba(206, 11, 11, 0.9);
  cursor: pointer;
  border-top: black 2 solid;
}
body button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
body.dark .curator {
  background-color: #222830;
}
body.dark .curator #feedbackbar {
  background-color: #222830;
  color: rgb(218, 205, 165);
}
body.dark .card-size img {
  box-shadow: 4px 4px 5px rgb(0, 0, 0);
}
body.dark #lose,
body.dark #games,
body.dark #win,
body.dark #tie,
body.dark .scoreBox {
  background: #222830;
  border: rgb(218, 205, 165) 5px double;
  color: rgb(218, 205, 165);
}
body.dark #lose1,
body.dark #games1,
body.dark #win1,
body.dark #tie1 {
  background: radial-gradient(circle at 50% 7px, rgb(218, 205, 165) 3.2%, #222830 0%);
  color: rgb(218, 205, 165);
}
body.dark .title {
  text-shadow: 2px 3px 5px #fa622f, -1px 1px 1px #74321d, 1.6px -1.4px 0 #ffcd44, 2px 2px 4px rgb(0, 0, 0);
}
body::-webkit-scrollbar {
  width: 20px;
}
body::-webkit-scrollbar-track {
  background: linear-gradient(0deg, #222830 50%, #af6f1b 50%);
}
body::-webkit-scrollbar-thumb {
  background-color: #fd893c;
  box-shadow: inset 0 0 15px #222830;
  border-radius: 20px;
  border: 1px solid #222830;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.2s linear;
}

header {
  height: 14.3vh;
}

.label__choice {
  align-items: center;
}
.label__choice:hover {
  outline-offset: 2px;
  outline: 2px dashed gold;
  cursor: pointer;
}

.center {
  margin-left: 2vh;
}

.chosenOne {
  visibility: hidden;
  display: flex;
  position: relative;
  z-index: -1;
}

.deckcount {
  visibility: hidden;
  display: grid;
  position: absolute;
  transform: translate(0px, -50px);
  justify-content: center;
  border: black double 5px;
  border-radius: 25%;
  padding: 0px 0.5%;
  margin: auto;
  background: rgb(224, 195, 101);
  background: radial-gradient(circle at 50% 7px, rgb(224, 195, 101) 2.6%, rgb(224, 195, 101) 0%, rgb(214, 210, 173) 47%, rgb(172, 124, 41) 98%);
  font-family: "Smokum", "Veranda", sans-serif;
  font-size: 20px;
  font-weight: 600;
  z-index: 300;
  aspect-ratio: 3/1;
}

.scoreBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  margin-top: 3vh;
  z-index: 100;
}

#ccd {
  display: flex;
  flex-basis: min-content;
  flex-direction: row;
  flex-flow: row wrap;
  position: absolute;
  margin-top: -127vh;
  margin-left: 19%;
  width: 55%;
}

#ucd {
  display: flex;
  flex-basis: min-content;
  flex-direction: row;
  flex-flow: row wrap;
  position: absolute;
  margin-top: -85vh;
  width: 75%;
}

.card-size img {
  aspect-ratio: 2/3;
  width: min(100px, 15vw, 300px);
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.7098039216);
}

.card-face-border-outline {
  padding: 0.7%;
  background: white;
  margin-right: 4px;
}

.position {
  transform: translate(76vw, -98vh);
}

.indicator_card_onStart {
  margin-top: -11vh;
  margin-left: -8vw;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.bouncer {
  width: 100%;
  height: 93.7vh;
  background-color: #222830;
  visibility: visible;
  position: relative;
}

.curator {
  width: 100%;
  height: 93.7vh;
  background-color: transparent;
  z-index: -1;
  visibility: visible;
}

.feedbackbar {
  font-family: "Lora", "Gill Sans", "Gill Sans MT", sans-serif, regular;
  letter-spacing: -0.05rem;
  visibility: visible;
  margin-top: -1vh;
  text-align: center;
  background: #dacda5;
  padding: 10px;
  border-radius: 5px;
  border: double 5px;
  height: auto;
  font-size: 14px;
  z-index: 50;
  overflow: -moz-hidden-unscrollable;
}
.feedbackbar::-webkit-scrollbar {
  display: none;
}

#feedbackbutton::-webkit-scrollbar {
  display: none;
}

.bar_adjust {
  margin-left: 12vw;
  margin-top: -1vh;
}

#bday {
  padding-left: 10px;
}

#birthday__input {
  visibility: hidden;
  border: 1px solid rgb(218, 205, 165);
  margin: 0.3vh auto -6vh;
  z-index: 100;
}

#date {
  background: #0084ff;
  border: none;
  padding: auto;
  cursor: pointer;
  color: #222830;
}

form {
  height: 6vh;
  display: flex;
  flex-direction: row;
  padding: 2px;
}

input {
  z-index: 200;
  width: 50%;
  border: none;
  font-size: 1rem;
}
input:focus {
  outline: none;
}

#lose,
#games,
#win,
#tie {
  color: black;
  border-radius: 10px;
  border: double 5px black;
  margin-bottom: 2px;
}

#games1 {
  letter-spacing: 0px;
  background: rgb(224, 195, 101);
  background: radial-gradient(circle at 50% 7px, rgb(0, 0, 0) 2.6%, rgb(224, 195, 101) 0%, rgb(214, 210, 173) 40%, rgb(172, 124, 41) 98%);
  color: #222830;
  padding: 5px;
  border-radius: 5px;
  border: double 5px;
  height: 75%;
  width: 45px;
  margin: 0px;
  text-align: center;
  font-variant: small-caps;
  font-family: "Smokum", "Veranda", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

#lose1 {
  letter-spacing: 1px;
  background: rgb(224, 195, 101);
  background: radial-gradient(circle at 50% 7px, rgb(0, 0, 0) 2.6%, rgb(224, 195, 101) 0%, rgb(214, 210, 173) 40%, rgb(172, 124, 41) 98%);
  color: #222830;
  padding: 5px;
  border-radius: 5px;
  border: double 5px;
  height: 75%;
  width: 45px;
  margin: 0px;
  text-align: center;
  font-variant: small-caps;
  font-family: "Smokum", "Veranda", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

#tie1,
#win1 {
  letter-spacing: 2px;
  background: rgb(224, 195, 101);
  background: radial-gradient(circle at 50% 7px, rgb(0, 0, 0) 2.6%, rgb(224, 195, 101) 0%, rgb(214, 210, 173) 40%, rgb(172, 124, 41) 98%);
  color: #222830;
  padding: 5px;
  border-radius: 5px;
  border: double 5px;
  height: 75%;
  width: 45px;
  margin: 0px;
  text-align: center;
  font-variant: small-caps;
  font-family: "Smokum", "Veranda", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.deck__count__box {
  display: flex;
  position: absolute;
  height: 52px;
  width: 50px;
  color: black;
  background: #dacda5;
  border: black double 5px;
  border-radius: 10px;
  margin-top: 20vh;
  z-index: 300;
  text-align: center;
  font-family: "Smokum", "Veranda", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.toggle {
  visibility: hidden;
  margin-top: 3vh;
  margin-bottom: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  opacity: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  cursor: pointer;
}
.checkbox:checked + .label .ball {
  transform: translateX(24px);
  transition: 0.5s linear;
}

.moon {
  color: #2aceff;
}

.lightbulb {
  color: #ffff00;
}

.label {
  background: #222830;
  box-shadow: #222830 inset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  height: 26px;
  width: 50px;
  margin: auto;
  cursor: pointer;
}

.ball {
  width: 22px;
  height: 22px;
  background: radial-gradient(circle at 50% 10px, rgb(182, 153, 59) 12%, 10%, rgb(0, 0, 0) 2%, rgba(209, 172, 38, 0.4) 20%, rgba(0, 0, 0, 0.3) 35%), repeating-conic-gradient(black, rgb(224, 195, 101) 45deg);
  position: absolute;
  top: 2px;
  left: 2px;
  border: 1px solid rgb(0, 0, 0);
  outline-offset: 0.5px;
  outline: 2px solid rgb(151, 132, 69);
  border-radius: 50px;
  transform: rotate(-90deg);
  transition: 0.3 linear;
}
.ball::before {
  content: "";
  position: absolute;
  outline-offset: 2px;
  outline: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.flashy {
  display: flex;
  border-bottom: 2px solid #222830;
  border-top: white 2 solid;
  outline: black 1px solid;
  line-height: 2;
  padding: 0 15px;
  font-size: 1rem;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: blue;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  height: 40px;
  width: 40px;
  margin: auto;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  z-index: 300;
}

.start {
  float: right;
  margin: -5vh 0 0 -5vh;
  width: 100px;
  justify-content: center;
  display: flex;
}

.bar_adjust {
  margin-left: 7vw;
  margin-top: -1vh;
}

#btnHit,
#btnStay {
  margin-top: -87vh;
  margin-right: -120%;
  margin-bottom: 100vh;
  border-radius: 50%;
  font-size: clamp(0.7rem, 1vw, 0.9rem);
}
#btnHit:hover,
#btnStay:hover {
  background-color: yellow;
  color: black;
  cursor: pointer;
  border-top: rgb(0, 0, 0) 2 solid;
}
#btnHit:active,
#btnStay:active {
  background-color: yellowgreen;
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#btnStay {
  background-color: red;
}

.btnPlay {
  background-color: blue;
}

#btnPlay {
  visibility: hidden;
  transition: all 0.1ms ease-in;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#btnPlay:hover {
  background-color: yellowgreen;
  color: black;
}
#btnPlay:active {
  background-color: orange;
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
#btnPlay:focus {
  outline: none;
}

.hitstay {
  width: 45%;
  visibility: hidden;
}

#confetti {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  visibility: hidden;
}

@media screen and (min-width: 450px) {
  .title {
    font-size: clamp(30px, 7vw, 65px);
    bottom: 2vh;
  }
  #ccd {
    margin-top: -133vh;
    margin-left: 12%;
  }
  .flashy {
    height: 50px;
    width: 50px;
  }
  .bar_adjust {
    margin-left: 6.5vw;
    margin-top: -2vh;
  }
}
@media screen and (max-width: 541px) {
  body {
    background-size: contain;
  }
  .card-size img {
    width: min(100px, 13vw, 300px);
  }
  .label {
    transform: scale(1.2);
  }
  .title {
    bottom: 0vh;
  }
  .deckcount {
    font-weight: 700;
    font-size: clamp(18px, 2vh, 35px);
  }
  #ccd {
    margin-top: -136vh;
    margin-left: 14%;
  }
  #ucd {
    margin-top: -97vh;
  }
  .feedbackbar {
    font-size: clamp(15px, 2vw, 20px);
  }
  #games1,
#lose1,
#tie1,
#win1 {
    padding: 3px;
    background: radial-gradient(circle at 50% 7px, black 3.6%, #e0c365 0%, #d6d2ad 40%, #ac7c29 98%);
    width: 60px;
    height: 100%;
    font-size: 20px;
    font-weight: 800;
  }
  .bar_adjust {
    margin-left: 6.5vw;
    margin-top: 1vh;
  }
  input {
    font-size: 1rem;
  }
  .label {
    align-items: center;
    margin: auto;
  }
  .start {
    width: 150px;
    margin: -5vh 17vh 0 0;
  }
  .indicator_card_onStart {
    transform: translate(2vw, -13vh);
  }
  #btnHit,
#btnStay {
    width: 63px;
    height: 63px;
    font-size: 1rem;
  }
  #btnPlay {
    margin-right: -15.5vh;
    margin-left: 15.5vh;
  }
  .position {
    transform: translate(79vw, -100vh);
  }
}
@media screen and (min-width: 900px) {
  section {
    margin-top: 15vh;
  }
  .deckcount {
    font-weight: 700;
    font-size: clamp(18px, 3vh, 35px);
  }
  .scoreBox {
    display: flex;
    flex-direction: row;
  }
  .indicator_card_onStart {
    margin-top: -14vh;
  }
  #ccd {
    margin-top: -124vh;
    margin-left: 0%;
  }
  #ucd {
    margin-top: -94vh;
  }
  .bar_adjust {
    margin-left: 0;
    margin-top: 3vh;
  }
  #btnHit,
#btnStay {
    margin-top: -91vh;
  }
}
@media screen and (min-width: 920px) {
  .start {
    width: 150px;
    margin: -5vh 17vh 0 0;
  }
  .position {
    margin-right: -20%;
  }
}
@media screen and (width: 1024px) {
  .title {
    bottom: -4vh;
  }
}
@media screen and (width: 1024px) and (height: 600px) {
  .title {
    bottom: 1vh;
  }
  #btnPlay {
    margin-left: 30vh;
    width: 150px;
  }
  #ccd,
#ucd {
    margin: -130vh 0 0;
    width: 75%;
  }
  .position {
    transform: translate(87.5vw, 10vh);
  }
  #lose1,
#games1,
#win1,
#tie1 {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  #ccd {
    margin-top: -133vh;
  }
  #ucd {
    margin-top: -103vh;
  }
}
table {
  width: 100%;
  margin-top: 3vh;
}

.deck__cards--back {
  opacity: 0;
  position: absolute;
  margin-top: 6vh;
}
.deck__cards--back:checked + .label__choice {
  outline-offset: 1px;
  outline: 3px solid gold;
}

.label__choice {
  margin-top: 10vh;
  display: flex;
}

#deck__line {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  visibility: hidden;
  width: 50%;
  max-width: 500px;
  gap: 10%;
  margin: -5vh 12%;
}

.title {
  letter-spacing: 0.1rem;
  display: flex;
  position: relative;
  font-size: 24px;
  bottom: -2vh;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 3px 5px #fa622f, -1px 1px 1px #74321d, 1.6px -1.4px 0 #ffffff, 2px 2px 4px rgb(0, 0, 0);
  font-variant: small-caps;
  font-family: "Rye", Courier, monospace, regular;
}

.lowercase {
  font-variant: normal;
  font-size: clamp(14px, 3vw, 28px);
  padding-top: 7px;
  margin: auto 0;
}

aside {
  width: 100%;
}

section {
  margin-top: 20vh;
  margin-right: 0;
}/*# sourceMappingURL=main.css.map */