@import 'config';
@import 'cards';
 @import 'curator';
 @import 'dialog';
 @import 'score';
 @import 'themes';
 @import 'buttons';
 @import 'canvas';
 @import 'responsive';


table {
    width: 100%;
    margin-top: 3vh;
}

.deck__cards--back {
    opacity: 0;
    position: absolute;
    margin-top: 6vh;

    &:checked+.label__choice {
        outline-offset: 1px;
        outline: 3px solid gold;
    }
}

.label__choice {
    margin-top: 10vh;
    display: flex;
}

#deck__line {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    visibility: hidden;
    width: 50%;
    max-width: 500px;
    gap: 10%;
    margin: -5vh auto;
}

.title {
    letter-spacing: .1rem;
    display: flex;
    position: relative;
    font-size: clamp(30px, 9vw, 65px);
    bottom: 2vh;
    align-items: center;
    justify-content: center;
    text-shadow:
        2px 3px 5px #fa622f,
        -1px 1px 1px #74321d,
        1.6px -1.4px 0 #ffffff,
        2px 2px 4px rgb(0, 0, 0);
    font-variant: small-caps;
    font-family: "Rye", Courier, monospace, regular;
}

.lowercase {
    font-variant: normal;
    font-size: clamp(18px, 3vw, 28px);
    padding-top: 7px;
    margin: auto 0;
}

aside {
    width: 100%;
}

section {
    margin-top: 20vh;
    margin-right: 0;
}